{
  "extends": ["eslint:recommended", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off",
    "prettier/prettier": "error"
  },
  "root": true,
  "parserOptions": {
    "ecmaVersion": 9
  }
}
