$mildNavy: #585f79;
$notQuiteWhite: #d4eaec;
$boneGrey: #dfe0e2;

.main {
  max-width: 772px;
  margin: 0 auto;
  padding: 0 .85rem;
}
.title {
  display: flex;
  justify-content: space-around;
}
.card-footer-item {
  justify-content: flex-start;
}