$mildNavy: #585f79;
$notQuiteWhite: #d4eaec;
$boneGrey: #dfe0e2;
$errorRed: #b11515;

// bulma overrides
$dark: #272c30;
$title-color: $dark;
.box {
  padding: .85rem;
  margin-bottom: .88rem;
  &:not(:last-child) { margin-bottom: .88rem; }
  &.group-header {
    margin-bottom: .88rem;
  }
}
.title:not(:last-child), .subtitle:not(:last-child) {
  margin-bottom: 1.1em;
}
.button[disabled] {
  pointer-events: none;
}
// end bulma overrides

.icon { cursor: pointer; }

body {
  margin: 3.5em 0 0 0;
}

.main {
  max-width: 772px;
  margin: 0 auto;
  padding: 2em .85rem;
  background-color: white;
}
// .title {
//   display: flex;
//   justify-content: space-around;
// }

.card-footer-item {
  justify-content: flex-start;
}

/* Toggle Switch
  *
  * Source: https://www.w3schools.com/howto/howto_css_switch.asp
  *
  * */
 .switch {
  transform: scale(.75);              // mod
  margin-left: -.45em;                // mod
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #209cee;
}

input:focus + .slider {
  box-shadow: 0 0 1px #209cee;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 120px;
  min-width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.5em;
  border-radius: 6px;
  font-size: 0.9em;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltiptext.top {
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ALERTS */
.alert {
  padding: .5rem 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
